*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #4d58e0;
    color: #fff;
}



.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 9%;
}

.img_responsive{
    max-width: 100%;
    width: 100%;
}

.image_top{
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.container_info{
    flex-basis: 40%;
    position: relative;
    margin: 9rem 50px 5rem;
}

.container_info h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container_info  p{
    font-size: 17px;
    font-weight: 100;
    margin-bottom: 20px;
}

button{
    width: 140px;
    border: none;
    padding: 12px 10px;
    color: #4d58e0;
    background-color: #fff;
    border-radius: 15px;
}

.img_principal{
    max-width: 700px;
    margin: 50px 0 100px;
}

.bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40%;
    left: -28%;
    width: 100%;
    align-items: flex-start;
    text-align:left;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.bar ul{
    display: flex;
}
.bar ul li{
    list-style: none;
}
.bar ul li a{
    font-size: 15px;
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    padding-bottom: 3rem;
}

button:hover{
    transition: .5s;
   transform: translateY(-5%);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.bar ul li a:hover{ 
    font-weight: bold;
}

@media only screen and (max-width:1587px){
    .bar{
        top: -20%;
        left: 0%;
    }
    .bar ul li a{
        font-size: 22px;
        
    }
}

@media only screen and (max-width:630px){
    .image_top{
        max-width: 150px;
    }
    .bar ul li a{
        font-size: 17px;    
    }
}

@media only screen and (max-width:545px){
    .bar{
        top: -20%;
        left: 5%;
        
    }
    .bar ul li a{
        font-size: 16px;
        margin-right: 1.7rem;
    }
}

@media only screen and (max-width:375px){
    .bar ul li a{
        font-size: 15px;
        margin-right: 1.5rem;
    }
}